################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Evaluacion.Application
/Evaluacion.Domain
/Evaluacion.Infrastructure
/WebApplication1
/Evaluacion.Api/bin/Debug/net8.0
/Evaluacion.Api/obj
